<section class="container p-5" id="#porfolio">
    <h2 class="text-center"> Mis proyectos</h2>
    <hr class="mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
            <img class="" src="{{url_for('static', filename='img.png')}}" alt="" class="d-block mx-lg-auto img-fluid">
            <div class="card-body">
                <h5 class="card-title">Lista de areas con flask</h5>
                <p class="card-text">Este es un mensaje del proyecto</p>
                <a href="#" class="nav-link text-primary">Link aqui del proyecto</a>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img class="" src="{{url_for('static', filename='img.png')}}" alt="" class="d-block mx-lg-auto">
            <div class="card-body">
                <h5 class="card-title">Lista de areas con flask</h5>
                <p class="card-text">Este es un mensaje del proyecto</p>
                <a href="#" class="nav-link text-primary">Link aqui del proyecto</a>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img class="" src="{{url_for('static', filename='img.png')}}" alt="" class="d-block mx-lg-auto">
            <div class="card-body">
                <h5 class="card-title">Lista de areas con flask</h5>
                <p class="card-text">Este es un mensaje del proyecto</p>
                <a href="#" class="nav-link text-primary">Link aqui del proyecto</a>
            </div>
            </div>
        </div>
<!--- si quires agregar mas proyectos-->

    </div>
</section>
